<p id="notice"><%= notice %></p>

<h5>Leagues</h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="pr-3 pr-md-5">Matches</th>
      <th class="pr-3 pr-md-5">Players</th>
      <th class="pr-3 pr-md-5">First Match</th>
      <th class="pr-3 pr-md-5">Last Match</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= link_to league.name, league %></td>
        <td><%= league.matches.count %></td>
        <td><%= league.players.count %></td>
        <td><%= time_ago_in_words(league.matches.order_by_date.last&.date) + ' ago' unless league.matches.order_by_date.last&.date.blank? %></td>
        <td><%= time_ago_in_words(league.matches.order_by_date.first&.date) + ' ago' unless league.matches.order_by_date.first&.date.blank? %></td>
        <!--td><%#= league.matches.order_by_date.last&.date&.strftime('%d/%m/%y') %></td-->
        <!--td><%#= league.matches.order_by_date.first&.date&.strftime('%d/%m/%y') %></td-->
        <td><%= link_to 'Show', league %></td>
      <% if params[:admin] == "1" %>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League', new_league_path %>
