<h5>Leagues</h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="pr-3 pr-md-5">Matches</th>
      <th class="pr-3 pr-md-5">Players</th>
      <th class="pr-3 pr-md-5">First Match</th>
      <th class="pr-3 pr-md-5">Last Match</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= link_to league.name, league %></td>
        <td class="pr-3 pr-md-5 text-center"><%= league.matches.count %></td>
        <td class="pr-3 pr-md-5 text-center"><%= league.players.count %></td>
        <td class="ago"><%= time_ago(league.matches.order_by_date.last&.date) %></td>
        <td class="ago"><%= time_ago(league.matches.order_by_date.first&.date) %></td>
        <!--td><%#= league.matches.order_by_date.last&.date&.strftime('%d/%m/%y') %></td-->
        <!--td><%#= league.matches.order_by_date.first&.date&.strftime('%d/%m/%y') %></td-->
        <td><%= link_to 'Show', league %></td>

        <% if user_signed_in? %>
          <td class="pl-3 pl-md-5"><%= link_to image_tag("Edit.png", class: "edit_icon"), edit_league_path(league) %></td>
          <td class="pl-md-3"><%= link_to image_tag("Delete.png", class: "edit_icon"), league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New League', new_league_path %>
<% end %>
