<p id="notice"><%= notice %></p>

<h5>Players</h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="pr-3 pr-md-5">Matches</th>
      <th class="pr-3 pr-md-5">Score</th>
      <th>Position</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.alias, player %></td>
        <td><%= player.matches.count %></td>
        <td><%= player.score %></td>
        <td><%= player.position %></td>
        <% if params[:admin] == "1" %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Remove', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
