<h5>Players</h5>

<table>
  <thead>
    <tr>
      <th><%= sortable("name") %></th>
      <th class="pr-3 pr-md-5"><%= sortable("alias") %></th>
      <th class="pr-3 pr-md-5"><%= sortable("matches") %></th>
      <th class="pr-3 pr-md-5">First Match</th>
      <th>Last Match</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.alias %></td>
        <td><%= player.matches.count %></td>
        <td class="ago"><%= time_ago_in_words(player.matches.order_by_date.last&.date) + ' ago' unless player.matches.order_by_date.last&.date.blank? %></td>
        <td class="ago"><%= time_ago_in_words(player.matches.order_by_date.first&.date) + ' ago' unless player.matches.order_by_date.first&.date.blank? %></td>
        <!--td><%#= player.matches.order_by_date.last&.date&.strftime('%d/%m/%y') %></td-->
        <!-- td><%#= player.matches.order_by_date.first&.date&.strftime('%d/%m/%y') %></td-->
        <% if user_signed_in? %>
          <td class="pl-3 pl-md-5"><%= link_to image_tag("Edit.png", class: "edit_icon"), edit_player_path(player) %></td>
          <td class="pl-md-3"><%= link_to image_tag("Delete.png", class: "edit_icon"), player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Player', new_player_path %>
<% end %>
