<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Bridge Alias:</strong>
  <%= @player.alias %>
</p>

<%= link_to 'Back', players_path %>
<hr>

<h3>Matches</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Score <small>(player)</small></th>
      <th>N-S</th>
      <th>N-S</th>
      <th>E-W</th>
      <th>E-W</th>
      <th>League</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.date.strftime('%d/%m/%y') %></td>
        <td><%= @player.match_score(match) %></td>
        <% (0..3).each do |i| %>
          <td><%= match.players[i].try(:name) %></td>
        <% end %>
        <td><%= match.league.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
