<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :league_id, "League" %>
    <%= form.select :league_id, @league_options, selected: @stars %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :score, "score (N-S)" %>
    <%= form.number_field :score, step: 0.1 %>
  </div>

  <div class="field">
    <%= form.label :north, "North" %>
    <%= form.select :north, @player_options, selected: @player_n %>
  </div>

  <div class="field">
    <%= form.label :south, "South" %>
    <%= form.select :south, @player_options, selected: @player_s %>
  </div>

  <div class="field">
    <%= form.label :east, "East" %>
    <%= form.select :east, @player_options, selected: @player_e %>
  </div>

  <div class="field">
    <%= form.label :west, "West" %>
    <%= form.select :west, @player_options, selected: @player_w %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
