<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>



  <div class="field">
    <%= form.label :score, "score (N-S)" %>
    <%= form.number_field :score, step: 0.1 %>
  </div>

  <div class="field">
    <%= form.label :north, "North" %>
    <%= form.text_field :north, list: "north", value: @player_N %>
    <!--The <datalist> element specifies a list of pre-defined options for an <input> element. https://www.w3schools.com/html/html_form_elements.asp-->
      <datalist id="north">
      <% @players.each do |player| %>
    <!--https://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/options_for_select-->
        <%= options_for_select [player] %>
      <% end %>
    </datalist>
  </div>

  <div class="field">
    <%= form.label :south, "South" %>
    <%= form.text_field :south, list: "south", value: @player_S %>
    <!--The <datalist> element specifies a list of pre-defined options for an <input> element. https://www.w3schools.com/html/html_form_elements.asp-->
      <datalist id="south">
      <% @players.each do |player| %>
    <!--https://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/options_for_select-->
        <%= options_for_select [player] %>
      <% end %>
    </datalist>
  </div>

  <div class="field">
    <%= form.label :east, "East" %>
    <%= form.text_field :east, list: "east", value: @player_E %>
    <!--The <datalist> element specifies a list of pre-defined options for an <input> element. https://www.w3schools.com/html/html_form_elements.asp-->
      <datalist id="east">
      <% @players.each do |player| %>
    <!--https://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/options_for_select-->
        <%= options_for_select [player] %>
      <% end %>
    </datalist>
  </div>

  <div class="field">
    <%= form.label :west, "West" %>
    <%= form.text_field :west, list: "west", value: @player_W %>
    <!--The <datalist> element specifies a list of pre-defined options for an <input> element. https://www.w3schools.com/html/html_form_elements.asp-->
      <datalist id="west">
      <% @players.each do |player| %>
    <!--https://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/options_for_select-->
        <%= options_for_select [player] %>
      <% end %>
    </datalist>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
