<!DOCTYPE html>
<html>
  <head>
    <title><%= BridgeScores %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <meta charset="utf-8">
    <meta property="og:title" content= "Bridge Scores">
    <meta property="og:type" content="website">
    <!--meta property="og:image" content='<%#= image_url 'Wack_Logo.png' %>'-->
    <!--meta property="og:image:secure_url" content='<%#= image_url 'Wack_Logo.png' %>'-->
<<<<<<< HEAD
    <meta property="og:url" content="https://floating-bridge-05165.herokuapp.com/players">
=======
    <meta property="og:url" content="https://https://floating-bridge-05165.herokuapp.com/players">
>>>>>>> 8e75b5dd26fbc87ae912dd1667a40a89a9610cca

  </head>

 <body>
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </main>
  </body>
</html>
